@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Figtree";
  src: url("../assets/fonts/Figtree-VariableFont_wght.woff2") format("woff");
}
@font-face {
  font-family: "Red Hat";
  src: url("../assets/fonts/RedHatText-VariableFont_wght.woff2") format("woff");
}
:root {
  --text-color: #fff;
}

body {
  color: var(--text-color);
  background: #282c35;
  font-family: "Figtree", "Red Hat", sans-serif;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Figtree", sans-serif;
  font-weight: 700;
}


p {
  font-family: "Red Hat", sans-serif;
  font-size: 16px;
}

.is-active{
  @apply bg-slate-500 rounded bg-opacity-40 p-1 hover:bg-slate-600 transition-all
}

.hover-anim {
  @apply hover:bg-slate-500 transition-all hover:rounded hover:bg-opacity-40 hover:scale-110 p-1
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.scroller ul:hover {
  animation-play-state: paused;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
